{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "client": "./src/client",
                    "server": "./src/server",
                    "shared": "./src/shared"
                }
            }
        ],
        "@babel/plugin-proposal-class-properties"
    ]
}
