{
    "root": true,
    "env": {
        "node": true
    },
    "extends": [
        "nfen"
    ],
    "parser": "babel-eslint",
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    }
}